.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    width: 8.125rem;
    height: 0.313rem;
    border-radius: 0.75rem;
    background-color: var(--color-primary);
    padding: 1.175rem;
    color: var(--color-white);
    font-family: 0.875rem;
   
}